# Editor directories
.vscode/
.idea/

# Django
*.pot
*.pyc
media/
static/

# DB
db.sqlite3

# Cache
.pytest_cache
.ruff_cache
__pycache__/
__pypackages__/
django_cache/

# Logs
logs/
*.log

# Backup files
*.bak

# Environments
env/
venv/
.env/
.venv/
.env
.venv
.env.*
.venv.*
!.env.example
!.env.dev.example

# Others
.DS_Store
certbot/
tests/
